Tools/openresty-1.19.9.1-Hotfix/htdocs/
Unity/.vs/
Unity/Assets/Res/Config/JsonConfig/
Unity/Assets/StreamingAssets/YooAssets/
Unity/Assets/StreamingAssets/build_info
Unity/Assets/StreamingAssets/build_info.meta
Unity/Logs
Unity/Bundles/
Unity/Library/
Unity/obj/
Unity/Temp/
Unity/.vsconfig
Unity/Sandbox/
Unity/fmod_editor.log
Unity/NDebugLog.txt
Unity/Unity.sln
Unity/Unity.sln.DotSettings.user

Unity/Animancer.csproj
Unity/Animancer.Examples.csproj
Unity/Animancer.FSM.csproj
Unity/Assembly-CSharp-Editor-firstpass.csproj
Unity/Assembly-CSharp-firstpass.csproj
Unity/FMODUnity.csproj
Unity/FMODUnityEditor.csproj
Unity/FMODUnityResonance.csproj
Unity/FMODUnityResonanceEditor.csproj
Unity/Sirenix.OdinInspector.CompatibilityLayer.csproj
Unity/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
Unity/UniTask.Addressables.csproj
Unity/UniTask.csproj
Unity/UniTask.DOTween.csproj
Unity/UniTask.Editor.csproj
Unity/UniTask.Linq.csproj
Unity/UniTask.TextMeshPro.csproj
Unity/UniTask.YooAsset.csproj
Unity/Unity.Editor.csproj
Unity/Unity.Hotfix.csproj
Unity/Unity.Model.csproj
Unity/Unity.ThirdParty.csproj
Unity/XNode.csproj
Unity/XNodeEditor.csproj
Unity/YooAsset.csproj
Unity/YooAsset.Editor.csproj
Unity/Assembly-CSharp-Editor.csproj
Unity/Assembly-CSharp.csproj

Excel/.cache.meta
Unity/Assets/FR2_Cache.asset
Unity/Assets/FR2_Cache.asset.meta
Unity\Assets\Scripts\Model\Generate\ILBinding
Unity/引用外部资源情况表.json
Unity/UI预制体引用图集情况表.json
Unity/com.alelievr.NodeGraphProcessor.Editor.csproj
Unity/.editorconfig
Unity/com.alelievr.NodeGraphProcessor.Runtime.csproj
Unity/NodeGraphProcessor.Examples.csproj
Unity/Unity.Mono.csproj
Unity/UserSettings
Tools/openresty-1.19.9.1-Hotfix/logs
Unity/HybridCLRData/
Unity/Needle.CompilationVisualizer.csproj
Unity/SuperTiled2Unity.csproj
Unity/SuperTiled2UnityEditor.csproj
Unity/Unity.Core.csproj
Unity/Unity.EditorIterationProfiler.Editor.csproj
Unity/Assets/StreamingAssets/YooAssets/
Unity/Assets/StreamingAssets/YooAssets.meta
Unity/Assets/StreamingAssets/yoo/
Unity/Assets/StreamingAssets/yoo.meta

Unity/TextToolDatas
Unity/Super Tiled2Unity Editor.csproj
Unity/SLATE.csproj
Unity/Wx.csproj
Unity/WxEditor.csproj
Unity/com.Brogrammist.JSAM.csproj
Unity/com.Brogrammist.JSAM.Editor.csproj
Unity/MemoryPack.csproj
Unity/StarkLitJson.csproj
Unity/starkmini.Examples.csproj
Unity/StarkWebGL.csproj
Unity/Unity-Logs-Viewer.csproj
Unity/Unity-Logs-Viewer.Editor.csproj
Unity/StarkProxyData
Unity/qrcodes
Unity/Assets/StarkProxyData
Unity/Assets/StarkProxyData.meta

.vscode/settings.json
Unity/.svn

Unity/Assets/Plugins/Animancer
Unity/Assets/Plugins/Animancer.meta
Unity/Assets/Plugins/Sirenix
Unity/Assets/Plugins/Sirenix.meta
Unity/Assets/Plugins/SLATE Cinematic Sequencer
Unity/Assets/Plugins/SLATE Cinematic Sequencer.meta
Unity/Assets/Plugins/Editor/CompilationVisualizer
Unity/Assets/Plugins/Editor/CompilationVisualizer.meta
Unity/Assets/Plugins/Editor/EditorIterationProfiler
Unity/Assets/Plugins/Editor/EditorIterationProfiler.meta
Unity/Assets/Plugins/Editor/ICSharpCode.SharpZipLib
Unity/Assets/Plugins/Editor/ICSharpCode.SharpZipLib.meta
Unity/Assets/Plugins/Editor/KCP
Unity/Assets/Plugins/Editor/KCP.meta
Unity/Assets/Plugins/Editor/LeoECS
Unity/Assets/Plugins/Editor/LeoECS.meta
Unity/Assets/Plugins/Render Queue
Unity/Assets/Plugins/Render Queue.meta
Unity/Assets/Plugins/System
Unity/Assets/Plugins/System.meta
