# All files
[*]
guidelines = 100

# C# or VB files
[*.{cs,vb}]
guidelines = 150

[*]
# Named color format
guidelines_style = 1px dotted black

[*.{cs,vb}]
# ARGB color format (red with 25% opacity)
guidelines_style = 2.5px dotted 40ff0000